playground/
node_modules/**/*
!node_modules/node-fetch/**/*
!node_modules/fullcalendar/dist/fullcalendar.min.js
!node_modules/fullcalendar/dist/fullcalendar.min.css
!node_modules/moment/min/moment.min.js
!node_modules/jquery/dist/jquery.min.js