coverage.out
vscode_ext/sibyl.vsix
sibylgo
sibylgo.exe
lint_report.txt
sibylgo.yml
*/testdata/*.tmp
npm-debug.log
outlook_cli/obj
outlook_cli/packages
outlook_cli/bin/Debug
outlook_cli/.vs
dist_pkg/
sibylgo.zip
upx/